body {
    background-color: rgb(8, 3, 46);
    height: 100%;
    margin: auto;
}
img{
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
#alien{
    height: 90px;
    width: 90px;
    top: 0px;
}
#vaca {
    height: 70px;
    width: 90px;
    bottom: 0px;
}
