body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
}
#canvas{
    height: 100%;
    width: 50%;
    background-color: aqua;
    position: absolute;

    margin-left: 50%;
    transform: translateX(-50%);
}